/* COLORS */
// used in the style.css file

/* .lighter-red { background: #eaafaf; }
.light-red { background: #d88c8c; }
.mid-red { background: #d87070; }
.dark-red { background: #d65e5e; }
.darker-red { background: #c14343; }
.darkest-red { background: #aa2f2f; }

.dark-pink { background: #db74bc; }
.light-mauve { background: #d5a6bdff; }

.light-orange { background: #f9cb9cff; }
.mid-orange { background: #f49842; }

.light-yellow { background: #eeed9eff; }
.mid-yellow { background: #f4de70; }

.lightest-green { background: #c8edc7; }
.lighter-green { background: #a4d1a3; }
.light-green { background: #90c18f; }
.mid-green { background: #76aa75; }
.dark-green { background: #5f995e; }
.darker-green { background: #4b894a; }
.favorite-green { background: #489e62; }

.lightest-teal { background: #d9fcf2; }
.lighter-teal { background: #b7e5d8; }
.light-teal { background: #9cd1c2; }
.mid-teal { background: #80baa9; }
.dark-teal { background: #63a08e; }
.darker-teal { background: #54917f; }
.darkest-teal { background: #3a7765; }

.light-blue { background: #bcd6ff; }
.mid-blue { background: #a2c0ef; }
.dark-blue { background: #83a8e2; }
.darker-blue { background: #6d96d6; }
.darkest-blue { background: #5382cc; }

.lightester-purple { background: #e8defc; }
.lightest-purple { background: #e5d8ff; }
.lighter-purple { background: #ccbee8; }
.light-purple { background: #ccbee8; }
.mid-purple { background: #9f91bf; }
.dark-purple { background: #8779a8; }
.darker-purple { background: #706291; }
.darkest-purple { background: #584b77; }
.darkester-purple { background: #4a3d68; }
.darkester-purple { background: #3b2e59; }
.darkester-purple { background: #2e2249; } */
