// no longer used, created when anime.js was used in conjuction w html elements

/* SHAPES */

/* 1 and 2 */

/* #square, #circle {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 12px;
} */

/* 2 and 4 */

/* #circle, #small-circle {
  border-radius: 100%;
} */

/* 3 and 4 */

/* #small-square, #small-circle {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 3px 0;
}

.sq-horiz-cross {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sq-horiz-lines-left, .sq-horiz-lines-right {
  display: flex;
  flex-direction: column;
} */

/* 5: motion squares */
/* .motion-square {
  width: 60px;
  height: 60px;
} */

/* 6 morph */
/* .morphing-div {
  display: flex;
  flex-direction: row;
} */

/* 7 stretch */
/* .squares-stretch-div {
  display: flex;
  flex-direction: column;
  height: 250px;
} */

/* 8 and 9 tri alt */
/* .triangle-alternate-div {
  display: flex;
  flex-direction: row;
}

.tri-alt {
  margin: 5px;
}

#triangle-up, #triangle-down, #triangle-right, #triangle-left {
  width: 0;
  height: 0;
} */

/* 8 triangles */

/* #triangle-up, #triangle-down {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

#triangle-up {
  border-bottom: 100px solid white;
}

#triangle-down {
  border-top: 100px solid white;
} */

/* 9 triangles */
/* #triangle-right {
  border-right: 100px solid white;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
}

#triangle-left {
  border-left: 100px solid white;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
} */
