/* App Academy AATimes reset file */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 /* Clearfix */

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /* ——————————————————— Style ——————————————————— */

 body {
   font-family: 'Roboto Condensed', sans-serif;
   height: 100vh;
   /* max-height: 700px; */
   width: 80%;
   margin: auto;
   text-align: center;
 }

 .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-top: 0;
 }

 /* 1/3: match score & found keys */

 .match-score-keys {
   display: flex;
   flex-direction: column;
 }

  #match-score {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
  }

 .winning-score {
   margin-top: 2px;
   padding: 2px 4px;
   color: white;
   background: #489e62;
   border-radius: 5px;
 }

 h2 {
   margin: 0 4px;
   font-size: 25px;
 }

 h2, .instructions-bttn {
   font-weight: 300;
 }

 #matched-keys {
   margin: 0;
   margin-bottom: 2px;
   text-align: left;
   max-width: 225px;
   overflow: auto;

   font-size: 15px;
   font-weight: 400;
   /* color: #8981c4; */
   color: #80b7c9;
 }

/* 2/3 title and message */
 .title {
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 10px;
 }

 h1 {
   margin-bottom: 10px;
   padding-top: 5px;
   border-bottom: 1px solid gray;

   font-size: 32px;
   font-weight: 400px;
   /* color: #6254ad; */
   color: #3e849b;
 }

 #match-text {
   margin-top: -3px;
   margin-bottom: 5px;
   height: 26px;

   font-size: 24px;
   font-weight: 400;
   /* color: #3968b2; */
   /* color: #d12323; */
   /* color: #655d9e; */
   color: #679fb2;
 }

 .message-green {
   color: #489e62;
 }

 .message-red {
   color: #d65e5e;
 }

/* 3/3: personal prof & instructions */

 .personal-prof-instructions {
   display: flex;
   flex-direction: column;
 }

 .personal-prof {
   display: flex;
   flex-direction: row;
   margin-top: 5px;
   margin-left: 50px;
 }

 .personal-prof img {
   height: 36px;
   width: 36px;
   margin-left: 30px;
   opacity: 0.7;
 }

 .personal-prof img:hover, .modal-profile img:hover {
   opacity: 1;
 }

 .instructions-bttn {
   margin-top: 7px;
   margin-left: auto;
   width: 45%;
   font-size: 17px;
   font-family: 'Roboto Condensed', sans-serif;

   border: 1px solid gray;
   border-radius: 3px;
   padding: 3px 10px;

   cursor: pointer;
 }

 .instructions-bttn:hover {
   background: #dce8ed;
 }

 /* modals */

 #hidden-instructions, #hidden-blackout, #hidden-win, #hidden-win-blackout {
   display: none;
 }

 #instructions-blackout, #win-blackout {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   z-index: 2;
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   background: rgba(0,0,0, 0.5);
 }

 #instructions-modal, #win-modal {
   z-index: 3;
   /* width: 42%; */
   padding: 15px;
   box-sizing: border-box;

   background: white;
   /* background: #e6eaef; */
   border: 1px solid gray;
   border-radius: 5px;

   font-family: 'Roboto Condensed';
   color: #606366;
   text-align: right;
 }

 #win-modal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   min-height: 32%;
   min-width: 40%;
   text-align: center;
 }

 .x-button {
   margin-top: -10px;
   padding-right: 10px;
   font-size: 40px;
 }

 h5, h6 {
   margin: 0;
   text-align: center;
   font-weight: 400;
   color: #3e849b;
 }

 h5 {
   font-size: 30px;
 }

 #instructions-modal h6 {
   padding-top: 5px;
   font-size: 16px;
 }

 .play-again-bttn {
   margin: 16px 0;
   width: 70%;
   padding: 4px 20px;
   border: 1px solid gray;
   border-radius: 5px;
   font-size: 22px;
   color: #679fb2;
 }

 .play-again-bttn:hover {
   background: #dce8ed;
 }

 .modal-profile {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .modal-profile p {
   margin-right: 2px;
   font-size: 17px;
   font-weight: 300;
   color: gray;
 }

 .modal-profile img {
   margin-left: 14px;
   height: 28px;
   width: 28px;
   opacity: 0.6;
 }

 #instructions-modal li {
   padding-left: 5px;
   text-align: left;
   font-size: 18px;
   line-height: 1.9;
 }

 #canvas {
   margin-top: 5px;
   width: 100%;
   height: 80%;
   border: 1px solid gray;
   border-radius: 3px;
 }
